@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@500&family=Sacramento&family=Varela+Round&display=swap');

#todo-container{
    display: inline;
    background-color: aquamarine;

}

#newEle{

    display:inline-block 50px;


}